includes:
    - phpstan-baseline.neon
parameters:
    level: 10
    paths:
        - lib
        - tests
    ignoreErrors:
        -
            identifier: unset.offset
            path: tests
        - '#^Method MongoDB\\Driver\\Cursor\:\:getId\(\) invoked with 1 parameter, 0 required\.$#'

